@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">
    <div class="heding">Promotions & Events</div>
    <div style=" font-size:16px; font-family:Arial, Helvetica, sans-serif;">
        <table width="100%" border="0">
            <tr>
                <td align="center">
                    <a href="@Url.Content("~/content/images/images.jpg")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/gallery_1.png")" alt="Image 1" />
                    </a><br>
                    The Groups of Happiness Centre
                </td>


                <td align="center">
                    <a href="@Url.Content("~/content/images/Slider21.jpg")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/gallery_2.png")" alt="Image 1" />
                    </a><br>

                    Unleashing of Potential
                </td>
                <td align="center">
                    <a href="@Url.Content("~/content/images/12.jpg")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/gallery_3.png")" alt="Image 1" />
                    </a><br> Unleashing of Potential
                </td>
            </tr>
            <tr><td colspan="3">&nbsp;</td>
            <tr>
                <td align="center">
                    <a href="@Url.Content("~/content/images/images.jpg")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/gallery_4.png")" alt="Image 1" />
                    </a><br> Age no Bar
                </td>
                <td align="center">
                    <a href="@Url.Content("~/content/mages/images.jpg")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/gallery_5.png")" alt="Image 1" />
                    </a><br> Stress Buster
                </td>
                <td align="center">
                    <a href="@Url.Content("~/content/images/Slider21.jpg")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/gallery_6.png")" alt="Image 1" />
                    </a><br>Music – Chicken Soup of the Soul
                </td>
            </tr>
        </table>

    </div>

</div>

<script type="text/javascript" src="@Url.Content("~/content/lightbox/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/lightbox/fliplightbox.min.js")"></script>
<script type="text/javascript">$('body').flipLightBox()</script>