@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">
    <div class="heding">Promotions & Events</div>
    <div style=" font-size:16px; font-family:Arial, Helvetica, sans-serif;">
        <table width="100%" border="0">
            <tr>
                <td align="center">                    
                    <a href="@Url.Action("HappinessCenter")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/gallery_1.png")" alt="Image 1" />
                    </a><br>
                    Happiness @@ svar-vandana center
                </td>


                <td align="center">
                    <a href="@Url.Content("UnleashingofPotential")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/gallery_2.png")" alt="Image 1" />
                    </a><br>

                    Unleashing of Potential
                </td>
                <td align="center">
                    <a href="@Url.Content("UnleashingofPotential")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/gallery_4.png")" alt="Image 1" />
                    </a><br> Age no Bar
                </td>
            </tr>
            <tr><td colspan="3">&nbsp;</td>
            <tr>

                <td align="center">
                    <a href="@Url.Content("StressBusting")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/stressbusting.JPG")" alt="Image 1" height="180" width="300" />
                    </a><br> Stress Busting
                </td>
                <td align="center">
                    <a href="@Url.Content("ChickenSoupoftheSoul")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/Souptosoal.JPG")" alt="Image 1" height="180" width="300" />
                    </a><br>Music – Chicken Soup of the Soul
                </td>
                <td align="center">
                    <a href="@Url.Content("SvarVandanaatCorporates")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/gallery_5.png")" alt="Image 1" />
                    </a><br> Svar Vandana at Corporates
                </td>
            </tr>
            <tr>
                
                <td align="center">
                    @*@Url.Content("~/content/images/Slider21.jpg")*@
                    <a href="@Url.Action("SvarvandanaatSchool")" class="flipLightBox">
                        <img src="@Url.Content("~/content/images/gallery_5.png")" alt="Image 1" />
                    </a><br>Svar vandana at School
                </td>
            </tr>

            <tr>
                <td align="center">
                    <iframe width="310" height="190" src="https://www.youtube.com/embed/jxtoVAIzqIg" frameborder="0" allowfullscreen></iframe>
                    <br>Svar vandana Performance at HCL
                </td>
                <td align="center">
                    <iframe width="310" height="190" src="https://www.youtube.com/embed/idMy_Xjof8E" frameborder="0" allowfullscreen></iframe>
                    <br>Svar vandana Band
                </td>
                <td align="center">
                    <iframe width="310" height="190" src="https://www.youtube.com/embed/rEA2oXiq1L0" frameborder="0" allowfullscreen></iframe>
                    <br>Stress buster class
                </td>
            </tr>

            <tr>
                <td align="center">
                    <iframe width="310" height="190" src="https://www.youtube.com/embed/ULz_iYSEWsw" frameborder="0" allowfullscreen></iframe>
                    <br>Bollywood dance. 
                </td>
                <td align="center">
                    <iframe width="310" height="190" src="https://www.youtube.com/embed/wuWsGyMpHBI" frameborder="0" allowfullscreen></iframe>
                    <br>khatak Dance.
                <td align="center">
                    <iframe width="310" height="190" src="https://www.youtube.com/embed/bWE91pDQdU8" frameborder="0" allowfullscreen></iframe>
                    <br>Santoor Playing.
                </td>
            </tr>

        </table>

    </div>

</div>

@*<script type="text/javascript" src="@Url.Content("~/content/lightbox/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/lightbox/fliplightbox.min.js")"></script>
<script type="text/javascript">$('body').flipLightBox()</script>*@