@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}
<div class="banner_layout">

    <div id="banner-section">
        <div class="carousel">
            <div class="carousel-inner">
               
                <div class="slide active">
                    <img src="@Url.Content("~/content/HomeBanner/DSC_0087.jpg")" width="990" height="339">
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/content/HomeBanner/IMG_0383.jpg")" width="990" height="339">
                </div>
               
                 <div class="slide">
                    <img src="@Url.Content("~/content/HomeBanner/DSC_0066.jpg")" width="990" height="339">
                </div>
           
                <div class="slide">
                    <img src="@Url.Content("~/content/HomeBanner/DSC_0126.jpg")" width="990" height="339">
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/content/HomeBanner/DSC_0184.jpg")" width="990" height="339">
                </div>
                <div class="slide">
                    <img src="@Url.Content("~/content/HomeBanner/20150324_173646.jpg")" width="990" height="339">
                </div>
                
            </div>
            <div class="arrow arrow-left"></div>
            <div class="arrow arrow-right"></div>
        </div>
    </div>
</div>

<div class="container_layout">
    <div class="heding">About Swarvandana</div>
    <div class="txt">
        A Musical journey which began in 2013.

        Our endeavour is to showcase the rich heritage of Indian Music and Dance where interested students of all ages can pick up, appreciate and gain expertise in various Music & Dance disciplines.

        Apart from overall development, this interaction can give them a sense of achievement, creativity and positivity and they are generally happier and can relate to the challenges in life more efficiently and effectively.
        
    </div>

</div>
