@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">
    <div class="heding2">Management Team</div>

    <div class="container_layout">
        <div class="img"> <img height="130" width="130" src="@Url.Content("~/content/ManagementTeam/Bipul-ray.jpg")" alt="" /></div>
        @*<div class="img"> <img src="@Url.Content("~/content/images/1.png")" alt="" /></div>*@
        <div class="tst_cont">
            <div style=" font-size: 16px; padding: 10px 0 5px 0px; font-weight: bold;"><strong>Dr.Bipul Kumar Ray </strong></div>
            <div> <img src="@Url.Content("~/content/images/arrow.png")" alt="" />
                Dr. Bipul Ray is one of the finest santoor exponents of the country. Under the tutelage of Santoor maestro Pandit Bhajan Sopori, an outstanding exponent of "Sufiyana Gharana” of Kashmir, He has a Master and M. Phil degree in Classical vocal music and Doctorate (PhD) on Santoor from the University of Delhi. He is our Advisor and currently working on the therapeutic effect of Music on various stress related ailments. Svar Vandana will soon introduce Music Therapy sessions
            <img src="@Url.Content("~/content/images/arrow2.png")" alt="" /></div>

        </div>

    </div>

    <div class="container_layout">

        <div class="tst_cont2">
            <div style=" text-align:right; padding:10px 0 5px 0px; font-size:16px; font-weight:bold;"><strong>Sanjay Sarda </strong></div>
            <div align="right">
                <img src="@Url.Content("~/content/images/arrow.png")" alt="" />
                Sanjay Sarda B.Tech from B.I.T and Post Graduate from IIM Kolkata. Worked in several leading Corporates of India in various assignments in senior positions.
                After doing the corporate grind for 32 years, decided to follow a ‘dil-se’ call to set forth on a path less trodden and took sabbatical from the corporate world in Aug 2013 to open a Music Academy in Noida.
                Svar Vandana already has 4 Music Academies – 2 in Noida and 1 in Gurgaon. He plans to open many such state-of-the-art Academies by 2020. He is the Chairman of Svar Vandana and the driving force of this journey.
                 <img src="@Url.Content("~/content/images/arrow2.png")" alt="" />
            </div>


        </div>
        <div class="img2"> 
            <img height="130" width="130" src="@Url.Content("~/content/ManagementTeam/sanjay_sarda.jpg")" alt="" />
        </div>
    </div>


    <div class="container_layout">
        <div class="img">
            <img height="130" width="130" src="@Url.Content("~/content/ManagementTeam/Meenakshi_sarda.jpg")" alt="" />
        </div>
        <div class="tst_cont">
            <div style=" font-size: 16px; padding: 20px 0 5px 0px; font-weight: bold;"><strong>Meenakshi Sarda</strong></div>
            <div>
                <img src="@Url.Content("~/content/images/arrow.png")" alt="" />
                Meenakshi Sarda  M.A in Psychology and Gold Medallist from Kurukshetra University is a trained Vocalist who has done various counselling and mentoring assignments with children.
                She is a trained trainer for SEN children. She is our Director and her role is like a Mentor for students, parents and our faculty.
                 <img src="@Url.Content("~/content/images/arrow2.png")" alt="" />
            </div>

        </div>

    </div>

    


</div>