@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">
    <div class="heding">News</div>
    <div style=" font-size:16px; font-family:Arial, Helvetica, sans-serif;">
        <table width="100%" border="0">
            <tr>
                <td align="center">
                    <a href="@Url.Content("~/content/news/page4_img.jpg")" class="flipLightBox">
                        <img src="@Url.Content("~/content/news/page4_imgS.jpg")" alt="Image 1" />
                    </a><br>

                </td>


                <td align="center">
                    <a href="@Url.Content("~/content/news/page4_img3.jpg")" class="flipLightBox">
                        <img src="@Url.Content("~/content/news/page4_imgS3.jpg")" alt="Image 1" />
                    </a><br>
                </td>
                <td align="center">
                    <a href="@Url.Content("~/content/news/page4_img1.jpg")" class="flipLightBox">
                        <img src="@Url.Content("~/content/news/page4_imgS1.jpg")" alt="Image 1" />
                    </a>
                </td>
            </tr>
            <tr><td colspan="3">&nbsp;</td>
            <tr>
                <td align="center">
                    <a href="@Url.Content("~/content/news/page4_img2.jpg")" class="flipLightBox">
                        <img src="@Url.Content("~/content/news/page4_imgS2.jpg")" alt="Image 1" />
                    </a>
                </td>
                <td align="center">
                    <a href="@Url.Content("~/content/news/yoursitution.jpg")" class="flipLightBox">
                        <img height="150" width="200" src="@Url.Content("~/content/news/yoursitution.jpg")" alt="Image 1" />
                    </a>
                </td>
                <td align="center">
                    <a href="@Url.Content("~/content/news/livinglife.jpg")" class="flipLightBox">
                        <img height="150" width="200" src="@Url.Content("~/content/news/livinglife.jpg")" alt="Image 1" />
                    </a>
                </td>
            </tr>
        </table>

    </div>

</div>

<script type="text/javascript" src="@Url.Content("~/content/lightbox/jquery.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/content/lightbox/fliplightbox.min.js")"></script>
<script type="text/javascript">$('body').flipLightBox()</script>