@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<div class="container_layout">
    <div class="heding2">Testimonial</div>

    <div class="container_layout">
        <div class="img"> <img src="@Url.Content("~/content/images/1.png")" alt="" /></div>
        <div class="tst_cont">
            <div style=" font-size: 16px; padding: 10px 0 5px 0px; font-weight: bold;"  ><strong>Amit Agarwal</strong></div>
            <div>    <img src="@Url.Content("~/content/images/arrow.png")" alt="" /> I feel proud that I have associated with such a wonderful institute Svar vandana. After taking trials at several places, I had come for my daughter to join your institute & learn basics of Kathak. We really feel refreshed after taking a dip in this ocean of music at Svar vandana which has such good faculty and maintaining such a healthy environment.   <img src="@Url.Content("~/content/images/arrow2.png")" alt="" /></div>

        </div>

    </div>

    <div class="container_layout">

        <div class="tst_cont2">
            <div style=" text-align:right; padding:10px 0 5px 0px; font-size:16px; font-weight:bold;"><strong>Puja and Vinayak</strong></div>
            <div align="right">
                <img src="@Url.Content("~/content/images/arrow.png")" alt="" />
                I am very happy and impressed with the kind of facilities and personal attention that my son and I have received at the Academy. My son has really progressed at playing the drums and bonded well with the Instructor. At the same time I have also got the opportunity to pursue my passion for classical kathak  <img src="@Url.Content("~/content/images/arrow2.png")" alt="" />
            </div>


        </div>
        <div class="img2"> <img src="@Url.Content("~/content/images/2.png")" alt="" /></div>
    </div>


    <div class="container_layout">
        <div class="img"> <img src="@Url.Content("~/content/images/3.png")" alt="" /></div>
        <div class="tst_cont">
            <div style=" font-size: 16px; padding: 20px 0 5px 0px; font-weight: bold;"><strong>Kiran & Rajpal</strong></div>
            <div>
                <img src="@Url.Content("~/content/images/arrow.png")" alt="" />
                They are young factory workers who sacrifice their overtime to learn Vocal music at the Centres. Seeing their talent, they have been given scholarship by the Centre.    <img src="@Url.Content("~/content/images/arrow2.png")" alt="" />
            </div>

        </div>

    </div>

    <div class="container_layout">

        <div class="tst_cont2">
            <div style=" text-align: right; font-size: 16px; padding: 5px 0 5px 0px; font-weight: bold;"><strong>  Vayuun’s mother</strong></div>
            <div style=" text-align:right;">
                <img src="@Url.Content("~/content/images/arrow.png")" alt="" />

                My child has been a very cheerful boy spreading smiles. Recently i noticed that his happiness quotient was reducing....resulting in a drop in his confidence level. His academics and his interactions with family were beginning to suffer. I started to pray for his happiness. Day 1 made my child enter the world of music....healing....creative expression and happiness.  <img src="@Url.Content("~/content/images/arrow2.png")" alt="" />
            </div>


        </div>
        <div class="img2"> <img src="@Url.Content("~/content/images/4.png")" alt="" /></div>
    </div>


</div>