<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Svar-Vandana : A complete Music,Dance & Art Academy </title>
    <link href="@Url.Content("~/Content/css/styleheet.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Contentfont/vani0.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/slider/style.css")">
    <script src="@Url.Content("~/content/slider/lean-slider.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/content/slider/lean-slider.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/content/slider/sample-styles.css")" type="text/css" />
    <link href="@Url.Content("~/content/banner/stylesheets/jquerysctipttop.css")" rel="stylesheet" type="text/css">    
    <link href="@Url.Content("~/content/banner/stylesheets/screen.css")" media="screen, projection" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/content/banner/stylesheets/print.css")" media="print" rel="stylesheet" type="text/css" />    
    <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href="@Url.Content("~/content/banner/stylesheets/responsive-carousel.css")" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/content/banner/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/content/scripts/modernizr-2.6.1.min.js")"></script>
    <script src="@Url.Content("~/content/slider/scripts/jquery.min.js")"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="@Url.Content("~/content/banner/js/responsive-carousel.js")"></script>
</head>

<body>
@{
    string currentAction = ViewContext.RouteData.GetRequiredString("action");
    string currentController = ViewContext.RouteData.GetRequiredString("controller");
}
    <div class="main_layout">
        <div class="logo"><a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/content/images/logo.png")" width="144" height="105" alt="" /></a></div>

        <div class=" menu_bar">
            <nav id="nav" role="navigation">
                <a href="#nav" title="Show navigation">Show navigation</a>
                <a href="#" title="Hide navigation">Hide navigation</a>
                <ul class="clearfix">
                    <li><a href="@Url.Action("Index", "Home")" class="@((currentAction == "Index" && currentController == "Home") ? "selected" : "")">Home</a></li>
                    @*<li>
                        <a href="courses.html">Courses</a>
                        <ul>
                            <li> <a href="#"> Projet 1</a>  </li>
                            <li><a href="#"> Project 2 </a>  </li>
                        </ul>
                    </li>*@
                    
                    <li><a href="@Url.Action("corporate","Home")" class="@((currentAction == "corporate" && currentController == "Home") ? "selected" : "")">Corporate</a></li>
                    <li><a href="@Url.Action("Schools", "Home")" class="@((currentAction == "Schools" && currentController == "Home") ? "selected" : "")">Schools</a></li>
                    <li><a href="@Url.Action("Mall", "Home")" class="@((currentAction == "Mall" && currentController == "Home") ? "selected" : "")">Mall</a></li>
                    <li><a href="@Url.Action("MusicTherapy", "Home")" class="@((currentAction == "MusicTherapy" && currentController == "Home") ? "selected" : "")">Music Therapy</a></li>
                    <li><a href="@Url.Action("Franchise", "Home")" class="@((currentAction == "Franchise" && currentController == "Home") ? "selected" : "")">Franchisee</a></li>
                    <li><a href="@Url.Action("Contact","Home")" class="@((currentAction == "Contact" && currentController == "Home") ? "selected" : "")">Contact</a></li>



                </ul>
            </nav>

        </div>
    </div>
    @RenderBody()
   
    <div class="footerbg">
        <div class="footer_container">
            <a href="@Url.Action("Events", "Home")">Events</a> |  <a href="@Url.Action("Vision", "Home")">Vision</a> |  <a href="@Url.Action("Courses", "Home")">Courses</a> |  <a href="@Url.Action("News", "Home")">News</a> |  <a href="@Url.Action("Affiliations", "Home")">Affiliations</a> |  <a href="@Url.Action("Faculty", "Home")">Faculity</a> |  <a href="@Url.Action("Testimonial", "Home")">Testimonial</a>  <br>
<div style="font-weight:bold;"><strong> &copy; 2015 - 2016  svarvandana</strong></div>
</div>
    </div>

    
    <script>

        // Custom options for the carousel
        var args = {
            arrowRight: '.arrow-right',
            arrowLeft: '.arrow-left',
            speed: 700,
            slideDuration: 4000
        };
        // start BannerSlide
        $('.carousel').BannerSlide(args);

    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
